.footer {
    background: #3e4551;
}

.background-logo {
    background-color: #FA4238;
}

.background {
    background-color: #f2f2f2;
}

.round-section:hover {
    border: 2px solid #f6b047;
}

.cursor-pointer {
    cursor: pointer;
}

.card {
    background: #f2f2f2;
    border: none;
}

tr {
    border: 2px solid white;
}

td {
    border: 2px white solid;
    height: 8px;
    min-height: 8px;
}

th {
    border: 2px white solid;
    height: 10px;
}

table.dataTable tbody tr.selected>* {
    box-shadow: inset 0 0 0 9999px #C8B294 !important;
}
/* table.dataTable tbody tr.selected>* {
    background-color: #C8B294 !important; 
  } */


  .UsuarioBG {
    font-family: 'Poppins', sans-serif;
    background-color: #C8B294;
    text-align: center;
    color: black;
    height: 50px;
    margin-top: -20px;
    align-content: center;
    border: 2px;
}

.UsuarioBG-0 {
    font-family: 'Poppins', sans-serif;
    background-color: #C8B294;
    text-align: center;
    color: black;
    height: 50px;
    margin-top: -20px;
    margin-left: -60px;
    align-content: center;
    border: 2px;
    border-color: #736357;
}

.MarginRight {
    margin-right: 90px;
}

.BtnLogout {
    /* margin-top: -25px; */
    background-color: white;
    color: black;
    border: none;
    border-radius: 0%;
    height: 50px;
    width: 100%;
    font-weight: bold;
    /*align-items: center; */
    /* width: 272px; */
}

    .BtnLogout:hover {
        background: #F1F1F1;
        color: #AE8A55;
        border: none;
        border-radius: 0%;
        /*border: black;*/
        /*border-width: 1px;*/
    }


.button-crud {
    background: #a69c95;
    color: white;
    height: auto;
    width: auto;

    font-size: 12px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    outline: 0;
    margin-top: -5px;
    ;
}

.button-crud:hover {
    background-color: #736357;
    color: white;
    cursor: pointer;
}

.table-header {
    background-color: #B58E5A;
    color: white;
}

.input-bold {
    font-weight: bold;
}

.modal-header {
    background-color: #D8BEA2;
    font-weight: bold;
}

.dropdown-toggle {
    border: 1px solid black;
}

.select-mir>.dropdown-toggle {
    border: 0px;
}

.dropdown_usuario:hover>.dropdown-menu {
    display: block;
    border: thin;
    border-color: #736357;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown_usuario>.dropdown-toggle:active {
    pointer-events: none;
    border: thin;
    border-color: #736357;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.text-bold {
    font-weight: bold;
}

.btn-guardar {
    background-color: #cfe1b9;
    color: black;
}

.text-red {
    color: red;
}

/* Radio button */
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, ".SFNSText-Regular", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

.toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
    content: "";
}

.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked+.toggle-switch {
    background: #ab8d52;
}

.toggle-checkbox:checked+.toggle-switch:before {
    left: 30px;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
}

/*The container <div> - needed to position the dropdown content*/
.dropdown0 {
    position: relative;
    display: inline-block;
}

/*Dropdown Content (Hidden by Default)*/
.dropdown-content0 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    display: none;
    border: none;
    position: absolute;
    background-color: #f9f9f9;
    margin-left: -45px;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

/*Links inside the dropdown*/
.dropdown-content0 a {
    font-family: 'Poppins', sans-serif;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

/*Change color of dropdown links on hover*/
.dropdown-content0 a:hover {
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
    color: #AE8A55;
    text-decoration: none;
}

/*Show the dropdown menu on hover*/
.dropdown0:hover .dropdown-content0 {
    display: block;
}

/*Change the background color of the dropdown button when the dropdown content is shown*/
.dropdown0:hover .dropbtn0 {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    /*#3e8e41;*/
    color: #AE8A55;
}

/*****************************************/
.CuadroBase01 {
    background-color: #F2F2F2;
    border: solid;
    border-width: thin;
    border-radius: 6px;
    border-color: #DFDFDF;
}

.CuadroAdminUser {
    background-color: #F2F2F2;
    width: 95%;
    height: 380px;
    border: solid;
    border-width: thin;
    border-radius: 6px;
    border-color: #DFDFDF;
}
