.footer {
    background: #3e4551;
}

.background-logo {
    background-color: #FA4238;
}

.background-form {
    background-color: #f2f2f2;
}

.forget-password {
    color: #808080;
}

.button-login {
    background: #B08C55;
    color: white;
    border: none;
    border-radius: 0%;
    height: 50px;
    width: 248px;
}

.button-login:hover {
    background: #B08C55;
    color: black;
}

/*****************************************/

html, body {
    font-family: 'Poppins', sans-serif;
    background-color: #F2F2F2; /*white;*/
    width: 100%;
    height: 100%;
    margin:0;
}

.Ancho100 {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    /* margin-right: 0; */
    padding: 0;
    /* padding-right: 0;
    margin-bottom: 0px;
    padding-bottom: 0; */
}

.Cintilla {
    position: relative;
    background-color: white;
    width: 100%;
    height:10%;
    margin: 0;
    padding: 0;
}

.RowH100 {
    background-color: #FA4238;
    height: auto;
}

.bg {
    /* background-image: url(Recursos/leonblanco.svg); */
    background-color: #FA4238;
    /* background-position: center center;
    background-repeat: no-repeat; */
}

.LogosIzquierda {
    padding-top: 5%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.LogoTesoBco {
    /* background-image: url(Recursos/ConacA.png); */
    margin-top: 5%;
    background-position: center center;
    background-repeat: no-repeat;
}

.LogoTesoColor {
    margin-top: 5px;
}

.LogoRight {
    /* background-image: url(Recursos/Buscar.png); */
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 50%;
}

.left {
    background-color: #FA4238;
}

.right {
    background: #F2F2F2;
}

.CuadroRight {
    margin-top: -20px; /*15%;*/
    background-image: url(Recursos/EscudoRightFinal.png);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 500px; /*75%;*/
}

.ContenidoLogin {
    background-color: #B08C55;            
    width: 50%;
}

.FormaLogin {
    margin-top: -40px;
    /* width: 80%; */
}

.TituloLeft {
    font-family: 'Poppins', sans-serif;
    color: white;

}

.TituloRight {
    margin-top: -60px;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: normal;
    font-size: 18px;
}

.UserTextBox {
    /*border-radius: 4px;*/
    border-radius: 0;
    background-color: #808080;
    color: black; /*#F2F2F2;*/
    width: 200px;
    height:50px;
}

.UserTextBox::placeholder {
    color: #BDBDBD;
}

.BtnLogin {
    /* margin-top: -25px; */
    background: #B08C55;
    border: none;
    border-radius: 0%;
    height: 50px;
    width: 248px;
    /*align-items: center; */
    /* width: 272px; */
}

.BtnLogin:hover {
    background: #B08C55;
    color: black;
    border: black;
    border-width: 1px;
}

.BtnLogin:focus {
    background: #B08C55;
    color: black;
    border: black;
    border-width: 1px;
}

.BtnLogin:active {
    background: #B08C55;
    color: black;
    border: black;
    border-width: 1px;
}

.CentrarBotones {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.BtnForgetPwd {
    font-family: 'Poppins', sans-serif;
    font:xx-large;
    font-weight:bolder;
    /* margin-top: -25px; */
    background-color: transparent;
    border: none;
    border-radius: 0%;
    height: 50px;
    width: 248px;
    color: #808080;
    /*align-items: center; */
    /* width: 272px; */
}

.BtnForgetPwd:hover {
    color: #B08C55;
}

.BotonLogin {
    /* margin-left: 72px; */
    background: #B08C55; /* #1F618D; #333;*/
    color: white; /*#ccc;*/
    width: 200px;
    height: 50px;
    border: thin;
    font-size: small;
    font-weight: bold;
    text-shadow: 2px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    transition: .6s;
    overflow: hidden;
    outline: 0;
}

    .BotonLogin:before {
        content: '';
        display: block;
        position: absolute;
        background-color: #B08C55; /*rgba(255,255,255,0.5);*/
        color: white;
        width: 60px;
        height: 100%;
        border: ridge;
        left: 0;
        top: 0;
        opacity: .5;
        filter: blur(30px);
        transform: translateX(-100px) skewX(-15deg);
    }

    .BotonLogin:after {
        content: '';
        display: block;
        position: absolute;
        background: #B08C55; /*rgba(255,255,255,0.2);*/
        width: 30px;
        height: 100%;
        left: 30px;
        top: 0;
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100px) skewX(-15deg);
    }

    .BotonLogin:hover {
        background-color: #B08C55;
        color: white;
        cursor: pointer;
        border: ridge;
    }

        .BotonLogin:hover before {
            transform: translateX(300px) skewX(-15deg);
            opacity: 0.6;
            transition: .7s;
        }

        .BotonLogin:hover after {
            transform: translateX(300px) skewX(-15deg);
            opacity: 1;
            transition: .7s;
        }


